<div class="row">
    <div class="col s9">
        <h6 class="header_text">Description</h6>
        <div class="description">
        {{#> description}}
        {{/description}}
        </div>
    </div>
    <div class="col s3">
        <h6 class="header_text">Skillset</h6>
        <ul class="body_text skillset">{{skillset}}</ul>
    </div>
</div>