<footer>
	<table>
	<tr>
		<td colspan=2> <a href='/home'>Go Home</a> </td>
		<td colspan=2> <a href='https://www.umd.edu'>UMD</a> </td>
		<td colspan=2> <a href='/landing'>About Me</a> </td>
	</tr>
	</table>
</footer>
