{{#> layouts/base }}
    {{#*inline "links"}}
    <title>Showing Pixel and Tile Coordinates</title>
    <link rel="stylesheet" type="text/css" href="/covid/css/main.css"/>
	<meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    {{/inline}}

	{{#*inline "content"}}
		<div id="conf">
			<div class="input-field col s12">
    			<select>
    	  		<option value="" disabled selected>Choose Date</option>
    	  		<option value="1">Temporary</option>
    			</select>
    			<label>Date To Overlay</label>
  			</div>
		</div>
    	<div id="map"></div>
	{{/inline}}

    {{#*inline "scripts"}}
    	<script type="text/javascript" src="/covid/js/script.js"></script>
    	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYhU5NIBPCaT-IqhUpz9wwis5wDs47IVU&callback=initMap"></script>
	{{/inline}}
{{/layouts/base}}
