<!doctype html>
<html lang='en'>
    <head>
        <meta charset="UTF-8"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/home/css/main.css"/>
            {{#> links}}
            {{/links}}
            {{#if title}}
            <title>{{title}}</title>
            {{else}}
            <title>2019ssaxena - Director</title>
            {{/if}}
    </head>
    <body>
        {{> sidebar}}
        {{#> content}}
        {{/content}}
        <br>
        <br>
        {{> footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/home/js/script.js"></script>
    {{#> scripts}}
    {{/scripts}}
    </body>
</html>
